.active {
  color: #f00;
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  padding-left: 30px;
  display: flex;
  gap: 25px;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none !important;
}
img {
  width: 100%;
}
